body {
    font-family: 'Muli', sans-serif;
    height: 200vh
}

header {
    height: 60vh;
    width: 100%;
    position: relative;
    padding: 50px;    color: whitesmoke;    
    background: #1A9B7D;
    /* background-image: -webkit-radial-gradient(top, circle cover, #97d0e1, #1A9B7D 80%);
    background-image: -moz-radial-gradient(top, circle cover, #97d0e1, #1A9B7D 80%);
    background-image: -o-radial-gradient(top, circle cover, #97d0e1, #1A9B7D 80%);
    background-image: radial-gradient(top, circle cover, #97d0e1, #1A9B7D 80%); */
    background-image: linear-gradient(to bottom right, #97d0e1, #1A9B7D);
    transition: all .2s ease-in-out;
}

.small-header {
    padding: 15px;
    height: 90px;
    position: fixed;
}

.hexagon {
    height: 260px;
    width: 300px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(30deg);
    left: 150px;
}

.hexagon .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 130px 75px 0;
    border-color: #2A4C46 transparent;
    transform-origin: 75px 129px;
    transform: scale(.01);
    transition: transform .5s ease-out, border-width .2s ease-in-out, transform-origin .2s ease-in-out;
    border-radius: 3px;
}

.hexagon .first-triangle {
    transform: rotate(-50deg) scale(.01);
}

.small-hex {
    height: 52px;
    width: 60px;
    left: 35px;
}

.small-hex .small-triangle {
    border-width: 26px 15px 0;
    transform-origin: 15px 25px;
}

#twinkle {
    height: 30px;
    position: absolute;
    top: 55px;
    left: 85px;
    transform: scale(.001);
    opacity: 0;
}

@keyframes sparkle {
    0% {
        transform: rotate(180deg) scale(1);
        opacity: 1;
    }

    50% {
        transform: rotate(360deg) scale(3);
    }

    100% {
        transform: rotate(540deg) scale(.01);
    }
}

.p {
    transform: rotate(-30deg);
    position: relative;
    font-size: 852%;
    left: 24px;
    transform: scale(.001);
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

.small-p {
    font-size: 173%;
    left: 5px;
}

.title {
    margin-left: 300px;
    margin-top: -150px;
    width: 775px;
}

.title h1 {
    font-size: 312%;
    margin-bottom: 13px;
}

.title h2 {
    margin-left: auto;
    margin-right: 50px;
    width: 342px;
}

em {
    font-weight: bold;
}

nav {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: transparent;
    color: whitesmoke;
    transition: all .2s ease-in-out;
}

nav ul {
    display: flex;
    justify-content: space-around;
    height: 55px;
    width: 500px;
    margin-left: auto;
    margin-right: 50px;
}

nav li {
    display: inline;
    font-size: 180%;
}

nav li::after {
    width: 0;
    height: 3px;
    background-color: whitesmoke;
    content: "";
    position: relative;
    top: -21px;
    display: inline-block;
    transition: width .4s ease-in-out;
}

nav li:hover::after {
    width: 100%;
}

